/bin/
/build/

/bin/

/Sequenze_SDR_2015/

*.class

.project

.metadata

.settings/

.classpath

target/

*.jar

*.war

*.ear

*.db

.DS_Store 

Thumbs.db 

Desktop.ini

.svn

local.properties

.loadpath